*~
target
*.log
*.idea
*.iml
*.ipr
*.iws
*.swp
*.project
*.classpath
*.settings
*.metadata
*.rpm
*.deb
.vagrant
.DS_Store
.pydevproject
setexpt
nbactions.xml
nb-configuration.xml
test-output
cleanup-testng-out
logs/
